JSW feature requirements

PLAYER:
Player movement
Player lives/death/respawn system
Sprite
Animation

ENEMIES:
Enemy movement
Sprite
Animation

COLLECTABLES: 
Score system
Sprite
Animation (flashing)

LEVEL:
Floors/walls + way to jump up through platforms 
Rope
Water
Ladders
Sprites

MENUS:
Main start menu
Death screen
Victory screen

